.signup--button,
.home__button,
.wrap__button,
.Enter {
  background-color: #1da1f2;
  color: white;
}

.container {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

.signup--link {
  color: #1da1f2;
}

.small__images {
  width: 22.5px;
  height: 21.4px;
}

.wrap__images,
.asida__img {
  width: 60px;
  height: 60.94px;
}

.footer__search {
  position: absolute;
}

.a {
  background-color: #eff3f4;
}

.footer__boxw {
  background: #f7f9f9;
}

.linkn,
.cc {
  color: #1da1f2;
}

.wrapper__item {
  width: 870px;
  height: 280px;
  background-image: url("./Assets/Images/Images28.png");
}
